// ===========================================================================
// GLOBAL / ROOT
// ===========================================================================
body {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	min-height: 100vh;
	& * {
		@include border-box();
	}
}





// DOCUMENT GRID
// ---------------------------------------------------------------------------
#site-header {}
#page {}
#site-footer {}


