 
// IMPORT ADOBE TYPEKIT FONTS
// ==================================================
//@import url("https://use.typekit.net/gsf7ony.css");


// IMPORT CUSTOM FONT FAMILIES
// ==================================================
// place your font files in THIS same folder,
// the $font-path is relative to this location $base-font-path
/*
@include _font-face(
	$font-family: 'akzg_bold',
	$font-path: $base-font-path,
	$font-file-name: 'AkzidenzGrotesk-Bold',
	$font-style: inherit,
	$font-weight: bold,
	$font-svg-id: null,
	$text-rendering: auto,
	$font-formats: (otf: opentype)
);
*/